<!DOCTYPE html>
<html>
    <head>
        <title>Dustin's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Dustin's Blog</a></h1>
        </header>
        <p>Hi there!</p>
        <p>It works!</p>
        <article>
            <time>published: 04.13.2023, 06:18</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first web devlopment</p>
        </article>

        <article>
            <time>published: 04.3.2023, 06:20</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second article for my web</p>
        </article>
    </body>
</html>